@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --red: #e74c3c;
    font-family: 'Ubuntu', sans-serif;
  }
  
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -12px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 10px;
    background: #406882;
    color:#F5EEDC;
}
body{
    background:#C3B091;
}

#logobuap{
    max-width: 75px;
    max-height: 75px;
}

#listaheader{
    display: flex;
    align-items: center;
}

#listaheader li{   
    font-size: large;
    padding-right:40px;
    padding-left: 40px;
    float:left;
    display: inline;
}

#listaheader a {
    position: relative;
    display: block;
    padding: 5px;
  }
  
  #listaheader a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #F3C892, #FFF1BD, #A3DA8D);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
  }
  
  #listaheader a:hover::before {
    transform: scaleX(1);
  }

#nombre{
    display: flex;
    align-items: center;
}
h1{
    margin-left: 20px;
   margin-right: 50px;
}

  ul {
    list-style: none;
    padding-inline-start: 0px;

  }

  a {
    color: inherit;
    text-decoration: none;
  }

  hr {
    border-color: var(--hr-color);
    margin: 20px 0;
  }
  

.rectext{
    margin-top: 25px;
    margin-left:50px;
    margin-right:50px;
    border: 5px;
    border-style: solid;
    border-color:#6998AB;
    border-radius: 12px;
    background-color: #B1D0E0;
}

.textInt{
  margin: 1px;
  font-size: large;
  margin-bottom: 0px;
}

#imgfcc{
  max-width: 1000px;
  max-height: 100px;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap:10px;
  margin: 20px;
  padding: 10px 50px 50px 50px;

}

.alumn{
  border: 2px;
  border-style: solid;
  border-color: #343e61f3;
  border-radius: 4px;
  background: #7a89bdf3;
 
}

#Equipo{
  margin: 20px;
}

.container img{
  width: 65%;
  height: 60%;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
}

.tabla{
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  margin: 0px 25px 25px 25px;
}

table{
  border-collapse: collapse;

}
 th,td{
   text-align: left;
   vertical-align: top;
   border: 2px solid black;
   border-spacing: 0;
   border-collapse: collapse;
   padding: 0.3em;
 }

 th{
   background-color: #3db3a9f5;
 }